.profile-user-img {
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  border-radius: 100%;
}

/* .avatar-preview {
  margin: 0 auto;
  position: relative;
  display: flex;
  right: -30px;
  bottom: -10px;
} */

.avatar-upload .avatar-edit {
  position: relative;
  display: flex;
  justify-content: end;
  top: -45px;
  left: -45px;
}

.avatar-upload .avatar-edit input {
  display: none;
}

.avatar-upload .avatar-edit input + label {
  display: inline-block;
  width: 36px;
  height: 36px;
  margin-bottom: 0;
  border-radius: 100%;
  background: #344767;
  border: 1px solid #344767;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  font-weight: normal;
  transition: all 0.2s ease-in-out;
}

.fname {
  text-align: center;
  border-radius: 5px;
  font-weight: bold;
  margin-top: -20px;
}

.profile-back {
  background-image: url("../../image/HomeLogo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50% 70%;
  margin-bottom: 50px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.async-hide {
  opacity: 0 !important;
}

.pdf-thumbnail {
  display: block;
  border-radius: 5px; /* Rounded corners */
  overflow: hidden; /* Hide overflow */
  transition: transform 0.2s; /* Hover effect */
  padding: 10px;
}

.pdf-thumbnail:hover {
  transform: scale(1.05); /* Scale effect on hover */
  background-color: #d6d6d63d;
  border-radius: 10px;
}

.pdf-thumbnail img {
  width: 100%; /* Make image fill the container */
  height: auto; /* Maintain aspect ratio */
  display: block; /* Prevent extra space below images */
}

.pdfview,
.pdftitle {
  pointer-events: none;
}

/* Styling for autofilled input fields */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  background-color: #333; /* Change background color to match your design */
  background-image: none; /* Remove any default background image */
}

.dark-version input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #fff; /* Change text color */
  background-color: #333; /* Change background color to match your design */
  background-image: none; /* Remove any default background image */
}
